@import '@/styles/colors.scss';

.container {
  width: 100%;
  padding: 0;
  border-radius: 0.8rem;
  overflow: hidden;

  th,
  td {
    text-align: center;
  }

  th {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }

  td {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}

.table_head {
  background: $cart;
  color: white;
}

.table_data {
  border-bottom: 1px solid $cart;

  strong {
    color: blue;
  }
}