@import '@/styles/utils.scss';
@import '@/styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  font-size: 1.215rem;
  font-weight: 700;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.1s;
  user-select: none;

  @include shadow;

  &:active {
    transform: translateY(3px);
  }

  &.member {
    color: $member;
    border: 2px double $member;
    background-color: white;

    &:hover {
      color: white;
      background-color: $member;
    }
  }

  &.associate {
    color: $associate;
    border: 2px double $associate;
    background-color: white;

    &:hover {
      color: white;
      background-color: $associate;
    }
  }

  &.general {
    color: $general;
    border: 2px double $general;
    background-color: white;

    &:hover {
      color: white;
      background-color: $general;
    }
  }
}