@import '@/styles/colors.scss';

.container {
  position: relative;
  width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 30px;
}

.input {
  border: none;
  border: 1px solid $submit;
  border-radius: 6px;
  padding: 10px;
  display: block;
  width: 100%;

  &:focus {
    outline: none;
    border: 2px solid $submit;
  }

  &:focus~label,
  &:valid~label {
    top: -10px;
    left: 10px;
    font-size: 14px;
    padding: 0 5px;
    color: $submit;
    background-color: white;
  }

  &:focus~.bar:before {
    left: 0;
    right: 0;
  }
}

.label {
  position: absolute;
  color: #797f85;
  font-size: 14px;
  top: 12px;
  left: 8px;
  transition: 0.2s ease all;
}